{layout '../layouts/component.latte'}
{block body}
<div {$rootAttrs|noescape}>
<input type="hidden" name="{$name}" value="0">
<label class="mui-choice" for="{$fieldId}">
<input {$controlAttrs|noescape}>
<span class="mui-choice__text">{$label}</span>
</label>
{$hintHtml|noescape}
<p class="mui-field__error" id="{$errorId}"{$errorHiddenAttr|noescape} x-bind:hidden="!error" x-text="error">{$errorText|noescape}</p>
</div>
{/block}
