{layout '../layouts/component.latte'}
{block body}
<div {$rootAttrs|noescape}>
{$labelHtml|noescape}
<textarea {$controlAttrs|noescape}>{$value}</textarea>
{$hintHtml|noescape}
<p class="mui-field__error" id="{$errorId}" x-show="error" x-cloak x-text="error"></p>
</div>
{/block}
